{% extends "EmotionBundle:default:layout.html.twig" %}
{% block title %} Accueil - eMotion {% endblock %}

{% block body %}

<p style="text-align:center">Accueil eMotion - En construction</p>

{% endblock %}