{% extends "EmotionBundle:default:layout.html.twig" %}
{% block title %} eMotion - Profil {% endblock %}

{% block body %}
    <h1>
        {{ user.name }} {{ user.firstname }} <br />
    </h1>
{% endblock %}